<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="cur_cal.js"></script>
</head>
<body>
    <div ng-app="CurCalApp" ng-controller="CurCalCtrl" class="card text-center" style="width: 18rem;margin-top: 1rem;margin-left: 1rem;">
        <div class="card-header">
            {{fromcur}} Currency Calculator
        </div>
        <div class="card-body">
            <p>How many {{fromcur}} do you have?</p>
            <div class="input-group">
                <input type="number" ng-model="fromnumber" class="form-control" placeholder="0" aria-label="Input here." aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button ng-click="convert()" class="btn btn-outline-secondary" type="button">Convert</button>

                </div>
                <h4>You have <span class="number">{{tonumber}}</span> {{tocur}} </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <br><br>
                <p> Cheat sheet </p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{{fromcur}} Amount</th>
                            <th>{{tocur}} Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in prices_list">
                            <td>$ {{x}}</td>
                            <td>{{calculate(x)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-5">

            </div>
        </div>
    </div>
</body>
</html>